.vlog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .video-wrapper {
    margin-bottom: 20px;
  }
  .vlog-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
  }
  